:host{
    display: flex;
    flex-grow: 1;
    height:100%;
    align-items: center;
    justify-content: center;
    mat-card{
        margin: 1rem;
        width: 400px;
    }
    button {
        width:8rem;
    }
}
